/* le damos caracteristicas al contenedor
   tamaño definido por el contenido de este*/
   .media_container
   {
   transition: 0.5s;
	background-color: transparent;
   position: fixed;
   top: 2px; 
   right: 7%;
   z-index: 99999;
   }
   .goright{  right: 2%;}
   /*desplegamos elementos de la lista en bloque 
   los espaciamos 10px entre ellos  */

   .media_container ul {

      margin:auto; 

   }
   .media_container ul li

   {
      display: inline-block; 
	   margin: 0 5px;
	   position: relative; 
   }
   /*despliegue elementos en bloque para que queden centrados
	 creamos una sombra tenue 
	 definimos la duracion de cambio de propiedad del elemento a*/
   .media_container > ul> li> a
   {
  
	   border-radius: 4px;
	   color: white;
	   font-size: 20px;
	   box-shadow: 5px 2px 5px grey;
	   transition: 0.3s;
   }
   /*aplicamos un filtro de desenfoque a cada elemento a
   cuando se haga hover sobre un elemento ul */
   .media_container >ul:hover >a
   {
	   filter: blur(1px);
	   
   }
   /*definimos evento hover sobre a
	movemos el elemento a en -x y lo hacemos crecer 1.1
	hacemos mas fuerte la sombra 
	nota: esta transition definida en 0.3s*/
   .media_container >ul >li >a:hover
   {
	   transform: translateX(-3px) scale(1.3);
	   filter: none;
	   box-shadow: 6px 2px 5px grey;
   }
   /*aplicamos color a cada elemento -a-
   seleccionado por clase dada en el codigo HTML */
   .media_container ul li .facebook:hover
   {
	   background: #3b5999;
   }
   .media_container ul li .instagram:hover
   {
	   background: #e4405f;
   }
   .media_container ul li .twitter:hover
   {
	   background: #55acee;
   }
   .media_container ul li .linkedin:hover
   {
	   background: #0077b5;
   }

   .media_container ul li .was:hover
   {
	   background: #1ebea5;
   }

   /* CARDS CSS CODE */
   .card_container
   {
      background: teal;
      text-align: center;
      padding: 20px 10px; 
      margin-bottom: 30px;
      height: 400px;
      box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.7);
   }
 /* The animation code for span IOT */
      @keyframes IOT {
         from {color: white ; }
         to {color:black;  }
      }
      
/* The animation code for CARD IOT */
      @keyframes IOT-card {
         from {border: solid 2px white; }
         to  { border: solid 2px black;}
      }
      .card_container>h1>span{

      animation-name:IOT;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-direction: alternate;  
      animation-timing-function: ease-in-out;  
      }

 /* The animation code for cards IOT */
   .table_cards:hover > .column> .card {

      filter: grayscale(90%);
      transform: translateX(-3px) scale(0.9); 

   }
 
   .table_cards > .column> .card:hover {
   
   filter: none;
   transform: translateX(3px) scale(1.0); 
   animation-name:IOT-card;
   animation-duration: 1s;
   animation-iteration-count: 1;
   animation-direction: alternate;  
   animation-timing-function: linear; 
   border: solid 2px black; 
   }

   .table_cards > .column> .card:hover > li a {
    color:black; 
   }

/* --------------------------------------- */
 /* --------------------------------- */
   .table_cards{
      margin: 10px auto 15px; 
      width: 1200px;
      max-width: 1300px;
      display: table; 
      box-sizing: border-box; 
      padding-left:0; 
      padding-right:10px;
      height:250px;
      
   }
  .column
  {
      width:20%;
      display:table-cell;
      /* border: solid;  */
  }

 
  .card
  {    
   transition: 0.5s;
   border-radius: 5px;
   background-color: teal;
   box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.7);
   border: solid 2px white; 
   margin: 18px 60px;
   height: 40%;
   max-height:450px; 
   
}

.column .card li 
{
    list-style: none;
    height: 100%;
}
.column .card li a
{
   transition: 1s;
   color: white; 
   font-size: 50px; 
   display: block; 
   margin: 15% ;   
    
}

  .column h1
  {
   /* border: solid;  */
   color: white; 
   font-size: 100%;
   font-weight: bold;
   margin: 5px 20px;
  }

 .column p
{
   /* border: red solid;  */
   color: black; 
   padding:0px 20px; 
   font-size: 15px;
   text-align: center;
   margin:0;
}
/* -Construction collage------------- */

.collage{
   /* background: url(../images/collage/collageimg.jpg) no-repeat center; */
   background-size: cover;
   height: 650px; 
   margin: auto; 
   border: solid 1px; 
}
