/* le damos caracteristicas al contenedor
   tamaño definido por el contenido de este*/
   .media_container
   {
   transition: 0.5s;
	background-color: transparent;
   position: fixed;
   top: 2px; 
   right: 7%;
   z-index: 99999;
   }
   .goright{  right: 2%;}
   /*desplegamos elementos de la lista en bloque 
   los espaciamos 10px entre ellos  */

   .media_container ul {

      margin:auto; 

   }
   .media_container ul li

   {
      display: inline-block; 
	   margin: 0 4px;
	   position: relative; 
   }
   /*despliegue elementos en bloque para que queden centrados
	 creamos una sombra tenue 
	 definimos la duracion de cambio de propiedad del elemento a*/
   .media_container > ul> li> a
   {
      display: block;
	   border-radius: 4px;
	   color: white;
	   font-size: 21px;
	   box-shadow: 5px 2px 5px grey;
	   transition: 0.3s;
   }
   /*aplicamos un filtro de desenfoque a cada elemento a
   cuando se haga hover sobre un elemento ul */
   .media_container ul:hover a
   {
      filter: blur(1px);
      
	   
   }
  /*definimos evento hover sobre a
	movemos el elemento a en -x y lo hacemos crecer 1.1
	hacemos mas fuerte la sombra 
	nota: esta transition definida en 0.3s*/
   .media_container ul li a:hover
   {
      transform: translateX(-3px) scale(1.2);
	   filter: none;
      box-shadow: 5px 5px 5px grey;   
   }
   /*aplicamos color a cada elemento -a-
   seleccionado por clase dada en el codigo HTML */
   .media_container ul li .facebook:hover
   {
	   background: #3b5999;
   }
   .media_container ul li .instagram:hover
   {
	   background: #e4405f;
   }
   .media_container ul li .twitter:hover
   {
	   background: #55acee;
   }
   .media_container ul li .linkedin:hover
   {
	   background: #0077b5;
   }

   .media_container ul li .was:hover
   {
	   background: #1ebea5;
   }

   /* CARDS CSS CODE */
   .card_container
   {
      background: hsl(200, 4%, 10%);
      text-align: center;
      padding: 20px 10px; 
      margin-bottom: 30px;
      height: 400px;
      box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.7);
   }

   .p--blanco{
      color:white;
   }
   
 /* The animation code for span IOT */
      @keyframes IOT {
         from {color: white ; }
         to {color:black;  }
      }
      
/* The animation code for CARD IOT */
      @keyframes IOT-card {
         from {border: solid 2px white; }
         to  { border: solid 2px black;}
      }
      .card_container>h1>span{

      animation-name:IOT;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-direction: alternate;  
      animation-timing-function: ease-in-out;  
      }

 /* The animation code for cards IOT */
   .table_cards:hover > .column> .card {

      filter: grayscale(90%);
      transform: translateX(-3px) scale(0.9); 

   }
 
   .table_cards > .column> .card:hover {
   
   filter: none;
   transform: translateX(3px) scale(1.0); 
   animation-name:IOT-card;
   animation-duration: 1s;
   animation-iteration-count: 1;
   animation-direction: alternate;  
   animation-timing-function: linear; 
   border: solid 2px black; 
   }

   .table_cards > .column> .card:hover > li a {
    color:black; 
   }

/* --------------------------------------- */
 /* --------------------------------- */
   .table_cards{
      margin: 10px auto 15px; 
      width: 1200px;
      max-width: 1300px;
      display: table; 
      box-sizing: border-box; 
      padding-left:0; 
      padding-right:10px;
      height:250px;
      
   }
  .column
  {
      width:20%;
      display:table-cell;
      /* border: solid;  */
  }

 
  .card
  {    
   transition: 0.5s;
   border-radius: 5px;
   background-color: teal;
   box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.7);
   border: solid 2px white; 
   margin: 18px 60px;
   height: 40%;
   max-height:450px; 
   
}

.column .card li 
{
    list-style: none;
    height: 100%;
}
.column .card li a
{
   transition: 1s;
   color: white; 
   font-size: 50px; 
   display: block; 
   margin: 15% ;   
    
}

  .column h1
  {
   /* border: solid;  */
   color: white; 
   font-size: 100%;
   font-weight: bold;
   margin: 5px 20px;
  }

 .column p
{
   /* border: red solid;  */
   color: black; 
   padding:0px 20px; 
   font-size: 15px;
   text-align: center;
   margin:0;
}
/* -Biometric content------------- */
.biometric_container{
   position: relative; 
   padding: 0;
   margin: 0 ;
   width:100vw; height: 75vh;
   overflow: hidden;
   
    
}

video { 
   width: 100%;
}

.content{
 position: absolute;
 top:0; left: 0;
 width:100vw; height: 75vh;
 background-color: #007399;
 opacity: 0.75;
 z-index: 1;
}

.content h1
{
   position:absolute;
   top: 12%; 
   left: 15%;
   width: 75vw;
   margin:0; padding: 0;
   color:white; 
   font-family:Verdana, Geneva, Tahoma, sans-serif ; 
   font-size:6vh;
   text-align: right;
   /* border:solid;  */
}
.content p{
   line-height: 7vh; 
   position:absolute;
   top:  40%; 
   left: 10%;
   width: 40vw;
   margin:0; padding: 0;
   text-align: center;
   color:white; 
   font-family:Verdana, Geneva, Tahoma, sans-serif ; 
   font-size:4vh;

}

.biometric_container .content > a
{
   transition: 0.3s; 
   width: 12vw;
   height: 2vh;
   position: absolute; top:  65%; left: 22%;
   text-align: center;
   padding: 1%;
   text-decoration: none;
   color:white; 
   border:  outset  white; 
   font-weight: bolder;
   font-size: 2vh;
   font-family: Arial, Helvetica, sans-serif;
   border-radius: 4%;
}
.biometric_container .content > a:hover{
   background-color: white;
   border:  inset white; 
   border-radius: 4%;
   font-family: 'Times New Roman', Times, serif;
   color:grey; 
}


/* Code for cards-collage */

.cards-collage{

      margin: auto; 
      height: 270vh;
      margin: auto; 
}

.cards-collage table {
   border-collapse: separate;
   border-spacing: 12px 14px;

 }

 .cards-collage table td  {
   background-color: #007399;
   height: 33.33%;
 }

 .dipositivos
{
height: 100%;
width: 100%;
background-image: url(../images/cards/circuito1.jpg);

background-repeat: no-repeat;
background-size: 100% 100%; 


}